h1,
h2,
h3,
h4,
h5,
h6,
p,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  margin: 0 auto;
  text-align: center;
  ---text: #000;
  --titlefont: "Segoe UI", Arial, sans-serif;
  --parafont: "Lato", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
h1 {
  font-size: 30px !important;
  letter-spacing: 4px;
  margin: 10px 0;
  color: var(---text);
}
p {
  font-size: 15px;
  color: var(---text);

  margin: 15px 0;
}

.icon {
  color: black;
}

stroke-icon {
  width: 10px;
}
