h1,
h2,
h3,
h4,
h5,
h6,
p,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  margin: 0 auto;
  text-align: center;
  --titlefont: "Segoe UI", Arial, sans-serif;
  --parafont: "Lato", sans-serif;
  --primary-color: #000;
  --secondary-color: #fff;
  --red-color: #f44336;
  --hover-color: #f9f3f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}
h1 {
  font-size: 30px !important;
  letter-spacing: 4px;
  margin: 10px 0;
  color: var(--primary-color);
}
p {
  font-size: 15px;
  color: var(--primary-color);
  margin: 15px 0;
}

.icon {
  color: var(--primary-color);
}

stroke-icon {
  width: 10px;
}
